* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: #e1e1e1;
	color: #3d3d3d;
	font-family: 'EB Garamond', serif;
	font-size: 1.8rem;
}

button {
	cursor: pointer;
}

.row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	align-items: center;
}
.row::after {
	display: block;
	clear: both;
	content: '';
}

.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding: 0 1.6rem;
}

/********** NavBar **********/
.navbar {
	background: #888888;
	font-size: 18px;
	padding: 5px 0 5px 0;
}

.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: black;
	font-size: 24px;
}

.nav {
	list-style-type: none;
	display: none;
}

.nav li {
	text-align: center;
}

.nav li {
	text-align: center;
	margin: auto 15px;
}

.active {
	display: block;
}

.link {
	padding: 10px;
}

.link a,
.home {
	color: black;
	font-size: 25px;
	text-decoration: none;
}

.home {
	display: inline-block;
	font-size: 22px;
	margin-top: 8px;
	margin-left: 20px;
}

/********** Card **********/

.cardBox {
	text-align: center;
	margin: auto;
}

.card {
	background: rgb(92, 92, 92);
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	margin: 10px;
	width: 400px;
	padding: 10px;
	text-align: left;
}

.whitePieces {
	color: rgb(226, 226, 226);
	font-weight: 500;
}

.blackPieces {
	color: black;
	font-weight: 600;
}

.won {
	color: rgb(0, 207, 0);
	font-weight: 600;
	padding-left: 10px;
}

.wonBy {
	color: red;
	padding-left: 10px;
}

.lost {
	color: red;
	font-weight: 600;
	padding-left: 10px;
}
